<div class="container" style="text-align: center;">
    <div class="jumbotron">
        <a href="/">
            <h1>Meme Generator</h1>
        </a>
    </div>
    <img style="width: 400px;" src={{meme.url}}>
    <form id="input" action="/meme" method="POST" data-id={{meme.id}}>
        Top Text: <input id="text0" type="text" name="text0">
        Bottom Text: <input id="text1" type="text" name="text1">
        <input type="hidden" name="template_id" value="{{meme.id}}">
        <input type="hidden" name="username" value="imgflip_hubot">
        <input type="hidden" name="password" value="imgflip_hubot">
        <button type="submit">Submit</button>
    </form>    
</div>
