{{! the beginning html is just for formatting --}}
{{!-- Create a spot for the image, two input boxes, and a submit button --}}

<div class="container" style="text-align: center;">
    <div class="jumbotron">
        <a href="/">
            <h1>Meme Generator</h1>
        </a>
    </div>
    <img style="width: 400px;" src={{selectedMeme.url}}>
{{!-- Here we will use the built in form method to handle the POST note the route we are using /meme--}}
{{!-- Since we need additional data for the API (reference API doc) we will include additional input tags but keep them hidden.  DO NOT DO THIS if it's your personal password because it can be seen.--}}
{{!-- Create POST route --}}
    <form id="input" action="/meme" method="POST" data-id={{selectedMeme.id}}>
        Top Text: <input id="text0" type="text" name="text0">
        Bottom Text: <input id="text1" type="text" name="text1">
        <input type="hidden" name="template_id" value="{{selectedMeme.id}}">
        <input type="hidden" name="username" value="imgflip_hubot">
        <input type="hidden" name="password" value="imgflip_hubot">
        <button type="submit">Submit</button>
    </form>    
</div>
