<div class="container" style="text-align: center;">
    <div class="jumbotron">
        <a href="/">
            <h1>Meme Generator</h1>
        </a>
    </div>
    <img style="width: 500px;" src={{meme.url}}>
    <form id="input" action="" data-id={{meme.id}}>
        Top Text: <input id="text0" type="text">
        Bottom Text: <input id="text1" type="text">
        <button type="submit">Submit</button>
    </form>    
</div>

<script type="text/javascript">

    $("button").on("click", function() {
        event.preventDefault();
        var memeInfo = {
            text0 : $("#text0").val().trim(),
            text1 : $("#text1").val().trim(),
            template_id : $("#input").data("id"),
            username: "imgflip_hubot",
            password: "imgflip_hubot"
        }

        //console.log(memeInfo);

        $.ajax("/meme", {
            type: "POST",
            data: memeInfo
        }).then(function() {
            window.location = "/meme"
        });


    })
</script>