<div class="container" style="text-align: center;">
    <div class="jumbotron">
        <h1>Meme Generator</h1>
        <h3>Select an image to create meme</h3>
    </div>
    <div id="images">
        {{#each memes}}
            {{!-- only do the images first --}}
            {{!-- <a> tag will be for the create page.  For the link we will direct it to /create/ and set the ID of the image as the path. --}}
            <a href="/create/{{this.id}}"> 
                <img src={{this.url}}>
            </a>
        {{/each}}
    </div>
</div>
